
:root{
  --primary-color:#062816;
  --secondary-color:#143746;
}
body {
  background-color: var(--primary-color);
}

/* header */
.header{
  background-color: var(--secondary-color);
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* margin-bottom: 20px; */
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  /* justify-content: space-between; */
}
.movielogo img{
  margin-top: 13px;
  /* height: 49px;  */
  /* width: 240px; */
  width: 80%;
}
nav{
  display: flex;
  /* gap: 9rem; */
  align-items: center;
  justify-content: space-between;
  align-self: center;
  /* background-color: white; */
}
.header nav{
  width: 95%
}
.header nav ul{
  display: flex;
}
/* .header nav ul li{
  margin-right: 30px;
} */

 nav ul li{
   list-style: none;
  color:white;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}
.header nav ul li{
  margin-right: 20px;
}
nav ul li a:hover{
  color:saddlebrown;
}
nav ul li:hover{
  color:saddlebrown;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 0.2rem 0.6rem;
}

nav ul li a:focus{
  color:sandybrown;
}

/* ul.menu-icon{
  font-size: 20px;
  display: none;
} */
.menu-icon{
  font-size: 20px;
  display: block;
}

.header .mobile-menu{
  /* display: block; */
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
  right: 0;
  top: 50px;
  z-index: 10;
  opacity: 0.95; 
  /* transition: left 0.3s ease-in-out; */
}


@media (min-width: 800px) {
   .menu-icon{
      display: none; 
   }
   /* .header nav ul{
    display: flex;
  } */
  .header .category{
    display: flex;
  }
  .header .mobile-menu{
   display: none;
  }
} 
@media (max-width:800px){

  .header .mobile-menu{
    display: block;
   }

  .header .category{
    display: none;
  }
  
  .header .category li{
    margin-top: 20px;
  }
 .header nav ul{
    display: block;
  }
}

.active{
  color:sandybrown ;
}
/* header ends */

/* home start*/
.home{
  margin: 10px;
  margin-top: 100px;
}
.slide_home{
  z-index: 2;
  margin-left: 8%;
  font-size: 180%;
  /* position: fixed; */
  /* margin-top: 20px; */
  color:thistle;
  /* margin-top: 100px; */
}
.slide-title{
  margin-top: 80px;
  /* margin-top: 8%; */
  /* margin-bottom: 20px; */
  margin-left: 3%;
  color:thistle;
  font-size: 140%;
  left: 3.5%;
  cursor: pointer;
}
.slide-title:hover{
  color:white;
}
.slide-card{
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  width: 220px;
  height: 290px;
  background-color: var(--secondary-color);
  margin: 0.7rem;
  border-radius: 7px;
  box-sizing: border-box;
  overflow: hidden;
}
.slide-container{
  margin-top: 1%;
  margin-bottom:-4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 5px; */
  /* flex-wrap: nowrap; */
}
.slide-card:hover{
  transform:scale(1.02) ;
}
.slide-arrow{
  color:cadetblue;
  font-size: 50px;
  cursor: pointer;
  /* margin-left: 10px; */
}
.slide-arrow-left{
  position: absolute;
  left: 8px;
}
.slide-arrow-right{
  position: absolute;
  right: 8px;
}
.slide-arrow:hover{
  color:white;
}
/* home end */

/* favourite */
.favourites{
  top:10.5%;
  left: 62%;
  position: fixed;
  width: 38%;
  height:89%;
  background-color: whitesmoke;
  z-index: 5;
  overflow:auto;
}
.fav-head,.fav-notfound{
  margin-left: 2%;
}
.fav-button{
  margin-top: 3%;
  margin-left: 35%;
  display: flex;
  gap:8%; 
}
.fav-button button{
  font-size: large;
  border-radius: 10%;
  cursor: pointer;
}
.fab-btn{
  color: white;
  background-color:teal;
}
.favItem{
  margin-top: 15px;
  display: flex;
  margin-left: 2%;
}
.favImage{
  height: 120px;
  width: 90px;
}
.fav-detail{
margin-left: 10px;
}
.fav-title{
  display: flex;
  align-items: center;
}
.favIcon{
  margin-left: 2%;
  color:peru;
}
.fav-rating{
  margin-left: 10px;
  display:flex;
}
.fav-block{
  margin-top: -5%;
  display:flex;
  gap: 8px;
}
.fav-block2{
  margin-top: 5%;
  display:flex;
  gap: 10%;
}
.play{
  cursor: pointer;
}
.fav-remove{
  color: firebrick;
  cursor: pointer;
}
/* favorites ends */

/* header secondary */
.header_secondary{
  position:sticky;
  z-index: 1;
  top: 60px;
  padding-bottom: 20px;
  background-color: var(--primary-color);
}
.filter_section{
  /* height: 70px; */
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  /* gap: 1rem; */
  /* top: 9%; */
  /* left: 0; */
}
.header_secondary nav ul{
  /* position: sticky; */
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  /* gap: 1px; */
}
.search-btn{
  /* position: sticky; */
  display: flex;
  margin-top: 22px;
  margin-right: 3rem;
  /* right: 10rem; */
}
.inputText{
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 2rem 0 0 2rem;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: white;
  border-color:rosybrown;
  background-color: var(--primary-color);
  box-shadow: inset 0 5px 10px var(--secondary-color);
}
.inputText::placeholder{
   color:silver;
}
.search-btn button{
  background-color: var(--secondary-color);
  box-shadow: inset 0 5px 10px var(--primary-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0 2rem 2rem 0;
  color: white;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--primary-color);
  border-color: rosybrown;
}
.filter{
  /* position: sticky; */
  margin-top: 6px;
  left: 26rem;
  /* margin-left: 8%; */
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:7px;
  color: white;
  font-size: 18px;
}
.filter_by{
  color:salmon;
  font-weight: bold;
}
/* header secondary ends */

/* main section */
.container{
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit,min-max(250px,1fr));
  gap: 20px; */
}
.movie{
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  width: 100%;
  height: 290px;
  max-width: 210px;
  background-color: var(--secondary-color);
  margin: 0.9rem;
  border-radius: 7px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}
@media (max-width:520px){
  .movie{
    max-width: 100%;
  }
}
.movie:hover{
  transform: scale(1.02);
}
 .poster{
  width: 100%;
  height: 70%;
}
.poster:hover+.card-play{
  position:absolute;
  margin-top: -50%;
  margin-left: 45%;
  font-size: 40px; 
  display: block;
  color: red;
}
.card-play{
  display: none;
}
.movie-details{
  color: white;
}
.movie-details .box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
 .movie-details .title{
  margin-left: 5%;
  margin-top: -11%;
  color:lightyellow;
  font-weight: 15px;
  font-size: 1.3vw;
  /* padding-bottom: 70; */
  /* -webkit-line-clamp: 1; */
}

.box .starIcon{
  font-size: 18px;
  color:sandybrown;
}
.heart{
  margin-left: 45%;
  font-size: 28px;
  cursor: pointer;
}
.rating{
  background-color: var(--primary-color);
  color:wheat;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
  right: 2%;
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  20% {
     transform: scale(1.5);
  }
  50% {
     transform: scale(1);
  }
  70% {
    transform: scale(1.5);
 }
 100% {
  transform: scale(1);
}
  }
@media (max-width:900px){
  .header{
    background-color: var(--secondary-color);
  }
  
  .search-btn{
    width: 200px;
    margin-right: 100px;
  }
}
.notfound{
  font-size: 40px;
  font-weight: bold;
}

/* pagination */
.pagination{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* margin: 2% 25%; */
  align-self: center;
  justify-content: center;
}
.pages ,.currpage, .prev-next{
width: 13px;
margin: 6px;
padding: 12px;
border-radius: 3px;
text-align: center;
border-style: double;
border-color: greenyellow;
cursor: pointer;
}
.prev-next{
  background-color: rgb(136, 39, 201);
  color: white;
}
.pages{
  color: white;
  background-color: var(--primary-color);
}
.pages:hover,.currpage{
  background-color: greenyellow;
  color: red;
}

/* show details */
/* .goback-title-section{
  display: flex;
  flex-direction: row;
} */
.goback{
  top: 14%;
  color: white;
  font-size: 20px;
  z-index: 4;
  left: 1%;
  cursor: pointer;
  position: fixed;
}
.detail-title{
  font-size: 100%;
  margin-top:6%;
  color: white;
  margin-left: 5%;
}
.showdetails{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.watch{
  display: flex;
  align-items: center;
  aspect-ratio: 16/9;
  width: 100%;
}

.details{
  /* height: 480px; */
  width: 70%;
  background-color: rgb(176, 179, 182);
  overflow:auto;
}
.showdetails h1,h2{
  color:#143746;
}
.details .text{
  margin-left: 3%;
}

@media (max-width:950px){
  .showdetails{
    /* flex-wrap: wrap; */
    /* width: 100%; */
    flex-direction: column;
  }
  .watch{
    width: 100%;
    /* height: 400px;
    resize: both; */
  }
  .details{
    width: 90%;
    align-self: center;
    margin-top: 20px;
  }
}

.video-notFound{
  width: 350px;
  padding: 200px 170px;
  background-color: black;
  color:tan;
  font-size: large;
}
 .arrow{
  cursor: pointer;
  position: relative;
  color:cadetblue;
 }
 .arrow-icon{
  font-size: 5vw;
 }
 .arrow-left{
   left: 2.5%;
 }
 .arrow-right{
   left: -2.5%;
 }
 .arrow i:hover{
  color: white;
 }


.similar-shows{
  margin-top: 1%; 
}
.similar_title{
  font-size: 30px;
  color: white;
  z-index: 4.9;
  position:absolute;
  top: 107%;
  margin-left: 6%;
}



